* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    text-align: center;
    background-color: #f5f5f5;
}

header {
    background: #78abd7;
    color: white;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
    display: inline-block;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out; 
    cursor: pointer;
}

.nav-links a:hover {
    color: rgb(28, 51, 220); 
}

.section {
    padding: 50px 20px;
}
.dark {
    background-color: #78abd7;
    color: white;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
    margin: 20px 0;
}

.portfolio-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.portfolio-item img {
    width: 300px;
    height: 600px;
    object-fit: cover;
}

.portfolio-desain img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.portfolio-survices {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.portfolio-content {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.portfolio-2D img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}
 
button {
    background: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
